.bgColor{
    background-color: #17ebf2;
    padding: 50px 0px 50px 0px;
}

.textPaddingLeft{
    padding-left: 2.5rem;
}

.quote{
    font-weight: bold;
    font-size: 40px;
    color: black;
    font-style: italic;
    text-decoration: underline;
}

.quoteTitle{
    font-size: 40px;
    color: black;
    font-style: italic;
}