.main-heading{
  text-align: center;
}


.main-container{
  display: flex;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  /* border: 2px solid green; */
  padding: 100px;
  justify-content: center;
  align-items: center;
}
.inside-container{
  margin: 10px;
}